os
shutil
tarfile
urllib.request
glob
random
numpy
matplotlib.pyplot
PIL.Image
sklearn.model_selection.train_test_split
tqdm
torchvision.datasets
torchvision.transforms
tensorflow
keras
keras.Sequential
keras.applications.ResNet50
keras.applications.resnet50.preprocess_input
keras.layers.Rescaling
keras.layers.RandomFlip
keras.layers.RandomRotation
keras.layers.RandomZoom
keras.layers.Dense
keras.layers.GlobalAveragePooling2D
keras.layers.Dropout
keras.utils.set_random_seed
tensorflow.keras.layers
tensorflow.keras.optimizers
tensorflow.keras.models
keras.applications.DenseNet121
keras.models.Model
datasets.load_dataset
evaluate
transformers.AutoImageProcessor
transformers.ViTForImageClassification
transformers.DefaultDataCollator
transformers.TrainingArguments
transformers.Trainer
transformers.EarlyStoppingCallback
